

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.titleimg {
	float: right;
	width: 60%;
}
.titleimg img {
	width: 100%;
	margin-left: 20px;
}
.titletext {
	float: left;
	width: 40%;
}
.logo {
	float: right;
}
.hero-unit {
	padding: 60px;
}
.hero-unit .row {
	margin: 0;
}