Source: stromx
Priority: extra
Maintainer: roter_oktober <stromx-devel@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, cdbs, libboost-all-dev, doxygen, python-dev, libzip-dev, libxerces-c-dev
Standards-Version: 3.9.1
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/stromx.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/stromx.git;a=summary

Package: stromx-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, stromx (= ${binary:Version})
Description: Development files for stromx

Package: stromx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for near real-time, parallel processing of data

Package: stromx-python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings files for stromx

Package: stromx-doc
Section: doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Documentation and examples for stromx