Source: stromx
Priority: extra
Maintainer: Matthias Fuchs <stromx-devel@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, cdbs, libboost-all-dev, doxygen, python-dev, libzip-dev, libxerces-c-dev, libopencv-dev, libcppunit-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.stromx.org

Package: libstromx-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libstromx (= ${binary:Version})
Description: Development files for stromx

Package: libstromx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for near real-time, parallel processing of data

Package: python3-stromx
Section: python3
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}, libstromx (= ${binary:Version})
Description: Python bindings for stromx

Package: stromx-doc
Section: doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Documentation and examples for stromx
