#!/usr/bin/make -f

DEB_CMAKE_EXTRA_FLAGS = \
	-DPYTHON_INSTALL_DIR=lib/python2.7/dist-packages \
	-DDOC_INSTALL_DIR=share/doc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

common-build-arch::
	cd $(DEB_BUILDDIR) && env LD_LIBRARY_PATH=$(DEB_BUILDDIR)/stromx/core $(MAKE) test ARGS="-V"

build/stromx-doc::
	cd $(DEB_BUILDDIR) && $(MAKE) doc
